/* Main */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,300&family=Roboto:wght@400;500;700&display=swap');
:root{
    --primary-color-:(#222222);
    --secondary-color-:( #f6c950);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto',sans-serif;
    text-transform: uppercase;
}
a{
    text-decoration: none;
}
body {
    background: #fff;
}

.container {
    max-width: 1168px;
    margin: 0 auto;
}
.button{
    font-family: 'Roboto',sans-serif;
    padding: 20px 30px;
    background: #1e83ec;
    border-radius: 8px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: background 300ms;
}
.button:hover{
    background: #1469c5;
}

/* TopBar */
#top-bar{
    width: 100%;
    padding: 15px 0;
    background:#ededed;
    
}
.top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-bar .top-bar-content span{
    font-size: 14px;
    font-family: 'Nunito', sans-serif;
    font-style: italic;
    color: var(--primary-color-);
    margin-right: 16px;
}
.top-bar .top-bar-content span i,.bar-content i{
    color: #f6c950;
    margin-right: 4px;
}
.top-bar  .social i{
    margin-right: 20px;
    font-size: 16px;
    color:var(--primary-color-);
    cursor: pointer;
}
.top-bar  .social i:hover{
    color: #f6c950;
}
/* great-bar */

.great-bar {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.great-bar nav{
    display: flex;
}
.bar-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 40px;
}
.bar-content p{
    font-family: 'Nunito',sans-serif;
    font-size: 18px;
    color: var(--primary-color-);
}
.bar-content span{
    display: block;
    margin-top: 8px;
    color: #888888;
    font-size: 14px;
} 
/* navbar */
.navbar{
    width: 100%;
    background: #1d1d1d;
    padding: 30px 0;
}
.navbar nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .menu a {
    padding: 4px 0;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    margin-right: 20px;
    border-bottom: 3px solid #1d1d1d;
    transition: color 300ms;

}
.navbar .menu a:hover{
    color: #f6c950;
}
.navbar .menu a.active{
     border-bottom: 3px solid #f6c950;
}
.navbar .utils i{
    color: #fff;
    margin-right: 30px;
    transition: color 300ms;
}
.navbar .utils i:hover{
    color: #f6c950;
}

/* Banner */ 

#banner {
    background: #2c2c2c;
    
}
.banner {
    height: 790px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner h2{
    font-size: 42px;
    color: #f8c12c;
    margin-bottom: 20px;
}
.banner h1{
    font-size: 62px;
    color: #fff;
}
.banner span{
    color: #f8c12c;
    margin-bottom: 20px;
}
.banner p{
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color: #fff;
    line-height: 26px;
    max-width: 800px;
    margin-bottom: 30px;
}
.banner .button {
    max-width: 14%;
}