/* Main */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,300&family=Roboto:wght@400;500;700&Ubuntu&Imbue:wght@300&display=swap');
:root{
    --primary-color-:(#222222);
    --secondary-color-:( #f6c950);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto',sans-serif;
    text-transform: uppercase;
}
a{
    text-decoration: none;
}
body {
    background: #fff;
}

.container {
    max-width: 1168px;
    margin: 0 auto;
}
.button{
    font-family: 'Roboto',sans-serif;
    padding: 16px 30px;
    background: #1e83ec;
    border-radius: 8px;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    transition: background 300ms;
}
.button:hover{
    background: #1469c5;
}

.subtitle{
    color: #9b9b9b;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
}
.title{
    color: var(--primary-color-);
    font-size: 32px;
    margin-bottom: 10px;
}

.row{
    width: 30px;
    height: 2px;
    background: #9b9b9b;
}
 .decoration{
    display: flex;
    align-items: center;
    
}
 .decoration i{
    color: #f6c950;
    font-size: 22px;
    margin: 0 10px;
}

.circle-slide i {
    margin-top: 60px;
    text-align: center;
    font-size: 12px;
    color: #f8c12c;
    margin-right: 4px;
    cursor: pointer;
    transition: color 300ms;
}
.circle-slide i:hover,.circle-slide i.active-slide:hover {
    color: #f5f108;
}
.circle-slide i.active-slide {
    color: #1e83ec;
}


/* TopBar */
#top-bar{
    width: 100%;
    padding: 15px 0;
    background:#ededed;
    
}
.top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-bar .top-bar-content span{
    font-size: 14px;
    font-family: 'Nunito', sans-serif;
    font-style: italic;
    color: var(--primary-color-);
    margin-right: 16px;
}
.top-bar .top-bar-content span i,.bar-content i{
    color: #f6c950;
    margin-right: 4px;
}
.top-bar  .social i{
    margin-right: 20px;
    font-size: 16px;
    color:var(--primary-color-);
    cursor: pointer;
}
.top-bar  .social i:hover{
    color: #f6c950;
}
/* great-bar */

.great-bar {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.great-bar nav{
    display: flex;
}
.bar-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 40px;
}
.bar-content p{
    font-family: 'Nunito',sans-serif;
    font-size: 18px;
    color: var(--primary-color-);
}
.bar-content span{
    display: block;
    margin-top: 8px;
    color: #888888;
    font-size: 14px;
} 
/* navbar */
.navbar{
    width: 100%;
    background: #1d1d1d;
    padding: 30px 0;
}
.navbar nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .menu a {
    padding: 4px 0;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin-right: 20px;
    border-bottom: 3px solid #1d1d1d;
    transition: color 300ms;

}
.navbar .menu a:hover{
    color: #f6c950;
}
.navbar .menu a.active{
     border-bottom: 3px solid #f6c950;
}
.navbar .utils i{
    color: #fff;
    margin-right: 30px;
    transition: color 300ms;
}
.navbar .utils i:hover{
    color: #f6c950;
}

/* Banner */ 

#banner {
    background: #2c2c2c;
    
}
.banner {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner h2{
    font-size: 32px;
    color: #f8c12c;

}
.banner h1{
    font-size: 52px;
    color: #fff;
}
.banner span{
    color: #f8c12c;
    margin-bottom: 16px;
}
.banner p{
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color: #fff;
    line-height: 26px;
    max-width: 800px;
    margin-bottom: 30px;
}
.banner .button {
    max-width: 14%;
}
/* About */

.about{
    padding: 80px 0 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about p{
    margin-top: 20px;
    max-width: 80%;
    font-size: 18px;
    font-family: 'Nunito',sans-serif;
    text-align: center;
    color: #9b9b9b;
}
.about-content{
    margin-top: 80px;
    display: grid;
    grid-template-columns: 2fr 400px;
}
.text {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.buttons:after{
    margin-top: 20px;
    display: table;
    content: "";
    width: 100%;
    height: 2px;
    background: #9b9b9b;
}
.buttons .button{
    padding: 14px 36px;
    font-size: 14px;
    border-radius: 4px;
    background: #222222;
    border: 1px solid #9b9b9b;
    transition: background 300ms;
}
.buttons .button:hover{
    background: #2c2c2c;
}
.buttons .button:nth-child(2){
    background: none;
    border: 1px solid #9b9b9b;
    color: #888888;
}
.buttons .button:nth-child(2):hover{
    background: #f3f3f3;
    
}
.text > .button{
    margin-top: 70px;
    padding: 10px 30px;
    font-size: 16px;
    align-self:flex-end;
    margin-right: 150px;
    cursor: pointer;
    
}
.video h2{
    font-size: 16px;
    font-weight: 500;
}

/* offer */

#offer{
    background: #191414;

}
.offer-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 0;
}
.offer-content div{
    max-width: 76%;
}
.offer-content h2{
    font-size: 32px;
    color: #fff;
    margin-bottom: 10px;
}
.offer-content h2 span{
    color: #f8c12c;
}
.offer-content p{
    font-family: 'Nunito',sans-serif;
    font-size: 14px;
    color: #fff;
    
}
.offer-content .button{
    padding: 16px 40px;
    font-size: 16px;
}
/* popular */ 
.popular {
    padding: 80px 0 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    margin-top: 60px;
}
.card{
    height: 360px;
    width: 280px;
    background: #e6e4e4;
    border: 1px solid #ededed;
}
.card .top-card{
    padding: 20px 0;
    text-align: left;
    margin-left: 16px;
}
.card .top-card .title{
    font-size: 16px;
}
.card .image-card{
    height: 50%;
    background: #fff;
}
.bottom-card{
    padding: 20px;
}
.bottom-card div{
    display: flex;
    align-self: center;
    justify-content: space-between;
    
}
hr{
    margin-top: 10px;
    background: #888888;
}
.bottom-card div span{
    color: var(--primary-color-);
    font-size: 16px;
    font-weight: 500;
    font-family: 'Nunito',sans-serif;
}
.bottom-card div i{
    font-size: 12px;
    color: #f8c12c;
}
.bottom-card p{
    font-size: 14px;
    color: #888888;
    margin-top: 10px;
}
.popular .button{
    margin-top: 40px;
    padding: 10px 36px;
    font-size: 16px;
}
/* acessories */ 
#acessories{
    background: #fafafa;
}
.acessories{
    padding: 80px 0 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.acessories-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-top: 60px;
}
.acessorie {
    display: grid;
    grid-template-columns: 240px 1fr;
    gap: 20px;
    align-items: flex-start;
}
.acessorie .image{
    height: 200px;
    width: 230px;
    background: #fff;
    border: 1px solid #e6e4e4;
    border-radius: 10px;
}
.acessorie .title{
    font-size: 18px;
    align-self: flex-start;
    margin-bottom: 20px;
}
.acessorie ul{
    list-style: none;
}
.acessorie ul li{
    color: #9b9b9b;
    font-size: 14px;
    font-family: 'Nunito', sans-serif;
    text-align: left;
    line-height: 26px;
}
.acessorie ul li i{
    color: #f8c12c;
    font-size: 12px;
    margin-right: 6px;
}
/* Galery */

#galery{
    background: #fafafa;
}
.galery {
     padding: 80px 0 60px 0;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}
.galery nav {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.galery nav a{
    margin-right: 4px;
    padding: 14px 36px;
    font-size: 14px;
    border-radius: 4px;
    color: #888888;
    background: #fff;
    border: 1px solid #9b9b9b;
    transition: background 300ms;
}
.galery nav a:hover,.galery nav a.active{
    background: #1e83ec;
    color: #fff;
}
.photos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top: 50px;
}
.col-2{
    display: flex;
    
}
.col-2 div{
    width: 277px;
    height: 175px;
    margin: 0 20px 20px 0;
    background: #888888;
    
}
.medium{
    width: 574px;
    height: 175px;
    background: #888888;
    margin-bottom: 20px;
}
.photos-right div,.great{
    width: 575px;
    height: 370px;
    background: #888888;
    margin: 0 0 20px 0;
}